.blog-recent {
    display: grid;
    grid-template: repeat(2, 1fr 1fr);
    place-content: center;
}

.blog-post {
    display: flex;
    max-width: 80vw;
    max-height: fit-content;
    flex-direction: row;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem var(--text-color);
}

.blog-post:nth-child(even) {
    flex-direction: row-reverse;
    color: var(--text-color);
}
.blog-post img {
    max-width: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    margin:3rem 0;
}
.blog-content h3, .blog-content em{
    text-align: center;
}
.blog-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    row-gap: 1rem;
}
.blog-content p {
    text-align: left;
    text-indent: 1rem;
    margin: .5rem 0;
}
.blog-content a{
    color: var(--site-color2);
    font-weight: bold;
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    .blog-post {
        display:grid;
        grid-template-columns: auto;
        place-items: center;
        padding: 1rem;
        margin: 1rem;
    }
    .blog-post img {
        width: 15rem;
        height: fit-content;
        margin: 1rem 0;
        box-shadow: 0 .5rem 1rem var(--text-color);
    }
    .blog-content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    
}
